(
  resources: {
    "alveus_components::PoopWheelbarrow": (
      poops: [],
    ),
  },
  entities: {
    4294966609: (
      components: {
        "alveus_collision::DynamicObstacleTiles": ([]),
        "alveus_stats::EnclosureStats": (
          cleanliness: 627,
        ),
        "alveus_types::EnclosureId": NutritionHousePlaypen,
      },
    ),
    4294966610: (
      components: {
        "alveus_collision::DynamicObstacleTiles": ([
          (
            x: 7,
            y: 5,
          ),
        ]),
        "alveus_stats::EnclosureStats": (
          cleanliness: 511,
        ),
        "alveus_types::EnclosureId": PushPopEnclosure,
      },
    ),
    4294966611: (
      components: {
        "alveus_collision::DynamicObstacleTiles": ([]),
        "alveus_stats::EnclosureStats": (
          cleanliness: 627,
        ),
        "alveus_types::EnclosureId": Pasture,
      },
    ),
    4294966612: (
      components: {
        "alveus_collision::DynamicObstacleTiles": ([]),
        "alveus_stats::EnclosureStats": (
          cleanliness: 627,
        ),
        "alveus_types::EnclosureId": ReptileEnclosure,
      },
    ),
    4294966613: (
      components: {
        "alveus_stats::AnimalStats": (
          hunger: 502,
          happiness: 378,
        ),
        "alveus_stats::AnimalTilePosition": ((
          x: 9,
          y: 5,
        )),
        "alveus_types::AnimalId": Polly,
      },
    ),
    4294966614: (
      components: {
        "alveus_stats::AnimalStats": (
          hunger: 0,
          happiness: 378,
        ),
        "alveus_stats::AnimalTilePosition": ((
          x: 8,
          y: 4,
        )),
        "alveus_types::AnimalId": PushPop,
      },
    ),
    4294966615: (
      components: {
        "alveus_stats::AnimalStats": (
          hunger: 502,
          happiness: 378,
        ),
        "alveus_types::AnimalId": Stompy,
      },
    ),
    4294966616: (
      components: {
        "alveus_stats::AnimalStats": (
          hunger: 502,
          happiness: 378,
        ),
        "alveus_types::AnimalId": Georgie,
      },
    ),
    4294966617: (
      components: {
        "alveus_stats::AnimalStats": (
          hunger: 502,
          happiness: 378,
        ),
        "alveus_types::AnimalId": Siren,
      },
    ),
    12884901347: (
      components: {
        "alveus_stats::SaveTimestamp": (
          value: 1783783163,
        ),
      },
    ),
  },
)