(
  resources: {},
  entities: {
    4294967119: (
      components: {
        "alveus_idle_cli::stats::AnimalId": Siren,
        "alveus_idle_cli::stats::AnimalStats": (
          hunger: 700,
          happiness: 700,
        ),
      },
    ),
    4294967120: (
      components: {
        "alveus_idle_cli::stats::AnimalId": Georgie,
        "alveus_idle_cli::stats::AnimalStats": (
          hunger: 700,
          happiness: 700,
        ),
      },
    ),
    4294967121: (
      components: {
        "alveus_idle_cli::stats::AnimalId": Stompy,
        "alveus_idle_cli::stats::AnimalStats": (
          hunger: 700,
          happiness: 700,
        ),
      },
    ),
    4294967122: (
      components: {
        "alveus_idle_cli::stats::AnimalId": Polly,
        "alveus_idle_cli::stats::AnimalStats": (
          hunger: 700,
          happiness: 700,
        ),
      },
    ),
    4294967123: (
      components: {
        "alveus_idle_cli::stats::EnclosureId": ReptileEnclosure,
        "alveus_idle_cli::stats::EnclosureStats": (
          cleanliness: 700,
        ),
      },
    ),
    4294967124: (
      components: {
        "alveus_idle_cli::stats::EnclosureId": Pasture,
        "alveus_idle_cli::stats::EnclosureStats": (
          cleanliness: 700,
        ),
      },
    ),
    4294967125: (
      components: {
        "alveus_idle_cli::stats::EnclosureId": NutritionHousePlaypen,
        "alveus_idle_cli::stats::EnclosureStats": (
          cleanliness: 700,
        ),
      },
    ),
    17179869141: (
      components: {
        "alveus_idle_cli::stats::SaveTimestamp": (
          value: 1780972580,
        ),
      },
    ),
  },
)